.topbar {
  height: 100px;
  background-color: #f6f6f6;
}
.topbar .w {
  width: 1160px;
}
.topbar .w .logo {
  width: 190px;
  height: 70px;
  float: left;
  background: url("../img/Azul-Logo.png");
  margin-top: 20px;
}
.topbar .w .nav {
  float: left;
  margin-top: 40px;
}
.topbar .w .nav li {
  float: left;
  margin-right: 5px;
  font-size: 18px;
}
.topbar .w .nav li a {
  color: #777;
}
.topbar .w .search {
  width: 18px;
  height: 18px;
  float: right;
  margin-top: 50px;
  background: url("../img/search.png");
}
.topbar .w .lianxi {
  float: right;
  margin-top: 40px;
  margin-right: 10px;
  border-radius: 18px;
}
.topbar .w .language {
  float: right;
  color: #777;
  margin-top: 48px;
  margin-right: 10px;
}
.topbar .w .language i {
  font-size: 20px;
}
.main {
  height: 620px;
  background: url("../img/homepage-banner-may-18.jpg") no-repeat center;
  background-size: cover;
}
.main .w {
  width: 940px;
  color: #fff;
  text-align: center;
}
.main .w .title {
  font-size: 44px;
  margin-top: 86px;
  margin-bottom: 22px;
}
.main .w h3 {
  font-size: 22px;
}
.main .w ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .w ul li {
  width: 30%;
}
.main .w ul li img {
  display: block;
  margin: 0 auto 22px;
}
.main .w ul li h3 {
  height: 80px;
  margin: 0 auto;
}
.main .w ul li button {
  margin: 0 auto 13px;
  display: block;
  border-radius: 18px;
  background-color: transparent;
}
.main .w ul li .blue {
  color: #49abd9;
  border: 2px solid #49abd9;
}
.main .w ul li .green {
  color: #3fb34f;
  border: 2px solid #3fb34f;
}
.customer {
  height: 520px;
  color: #777;
  text-align: center;
}
.customer .title {
  font-size: 46px;
  margin: 106px auto 38px;
}
.customer .introduce {
  font-size: 16px;
  margin: 0 auto 38px;
}
.customer .row {
  width: 960px;
  margin: 0 auto;
}
.customer .row img {
  width: 100%;
}
.customer .more {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}
.customer .more button {
  display: block;
  border-radius: 18px;
  border-width: 2px;
}
.customer .more .btn-default {
  background-color: transparent;
  margin-right: 14px;
}
.casestudy {
  height: 472px;
  background: url("../img/home_casestudybg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
.casestudy .w {
  width: 480px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  color: #fff;
}
.casestudy .w img {
  margin-top: 80px;
}
.casestudy .w h3 {
  margin-top: 56px;
  margin-bottom: 12px;
  font-size: 38px;
}
.casestudy .w p {
  font-size: 16px;
  line-height: 24px;
}
.casestudy .w button {
  border-radius: 18px;
  margin-top: 34px;
}
.activity {
  height: 770px;
  background-color: #f6f6f6;
}
.activity .w {
  width: 960px;
  margin: 0 auto;
  color: #777;
}
.activity .w h2 {
  margin-top: 110px;
  margin-bottom: 12px;
  font-size: 34px;
}
.activity .w img {
  display: block;
  margin-bottom: 66px;
}
.activity .w ul li {
  font-size: 14px;
  margin-bottom: 16px;
}
.activity .w ul li a {
  font-size: 22px;
  color: #216dae;
  font-weight: 400;
  text-decoration: none;
}
.activity .w ul li a:hover {
  color: #337ab7;
}
.activity .w ul .date {
  margin-bottom: 36px;
}
.advantage {
  height: 400px;
  color: #777;
  text-align: center;
}
.advantage h2 {
  margin: 74px auto 70px;
  font-size: 48px;
  font-weight: 200;
}
.advantage .row {
  width: 1000px;
  margin: 0 auto;
}
.advantage .row h3.title {
  font-size: 38px;
  font-weight: 200;
}
.advantage .row p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 22px;
  margin-bottom: 45px;
}
.advantage .row button {
  border-radius: 18px;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  color: #3fb34f;
  border-width: 2px;
}
.foot {
  height: 440px;
  background-color: #e2e2e2;
}
.foot > .row {
  width: 1000px;
  color: #777;
  margin: 0 auto;
}
.foot > .row .col-md-5 img {
  display: block;
  margin-top: 54px;
  margin-bottom: 24px;
}
.foot > .row .col-md-5 p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 18px;
}
.foot > .row .col-md-5 .search input {
  width: 160px;
  height: 30px;
  border: 1px solid #777;
  text-indent: 5px;
}
.foot > .row .col-md-5 .search button {
  width: 48px;
  height: 32px;
  background-color: #b0b0b0;
  color: #fff;
}
.foot > .row .col-md-5 ul {
  margin-top: 18px;
}
.foot > .row .col-md-5 ul li {
  float: left;
  margin-right: 16px;
}
.foot > .row .col-md-5 ul li a {
  color: #c5c5c5;
  font-size: 32px;
  text-decoration: none;
}
.foot > .row .col-md-7 {
  margin-top: 62px;
}
.foot > .row .col-md-7 .row {
  width: 100%;
  margin-top: 20px;
}
.foot > .row .col-md-7 .row ul li {
  font-size: 18px;
  margin-bottom: 18px;
  color: #1569b4;
}
.foot > .row .col-md-7 .row ul li :first-child {
  margin-bottom: 26px;
}
.foot > .row .col-md-7 .row ul li a {
  color: #777;
  text-decoration: none;
  font-size: 14px;
}
.foot > .row .col-md-7 .row ul li a:hover {
  color: #333;
}
.foot > .row .col-md-7 .row ul .line {
  height: 1px;
  background-color: #fff;
}
